<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="logo">
          <img src="https://www.windy.com/img/logo201802/logo-full-windy-gray-v3.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <form class="form-horizontal" role="form" id="login-form">
            <div class="alert alert-info">
              Xin hãy nhập <strong>địa chỉ email</strong> của bạn và chúng tôi sẽ gửi một email hướng dẫn cách thiết lập lại tài khoản cho bạn
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <input class="form-control" type="email" placeholder="Nhập địa chỉ Email" name="email" id="email" autocorrect="off" autocapitalize="off" value="">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <button class="btn btn-primary btn-lg btn-block" id="login" type="submit">Thiết lập lại mật khẩu</button>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
